.post {
  display: flex;
  flex-direction: column;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.post-header p {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-self: start;
  margin: 5px;
}

.post-title {
  font-size: 25px;
  color: rgb(128, 128, 128);
}

.post-text {
  text-align: start;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  margin: 5px;
}

.post-icons {
  display: flex;
  justify-content: flex-start;
}

.post-icons img {
  margin-left: 5px;
}
